
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background: whitesmoke; /*rgb(58, 57, 57)*/
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

#container{
    box-sizing: border-box;
    padding: 0 20px 0 20px;
    width: auto;
    
}

#title{
    color: rgb(58, 57, 57);
    text-align: center;
    font-size: 1.8em;
}


.op{
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: repeat(5,auto);
    justify-items: center;
    border: 1px solid #dbdbe7;
}

.op button{
    font-size: 20px;
}

.opBox{
    width: 100%;
    height: 70px;
    font-size: 1.5vw;
    text-align: center;
    cursor: pointer;
    border: 1px solid #dbdbe7;
    background: whitesmoke;
}

.opBox:nth-child(1){
    grid-column: 1/5;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: default;
}

.opBox:nth-child(2){
    color: #3498db;
    width: 100%;
    height: 40px;
    text-align: end;
    grid-column: 1/5;
    background: whitesmoke;
    border: 1px solid whitesmoke;
}

.opBox:nth-child(3),.opBox:nth-child(4),.opBox:nth-child(5),.opBox:nth-child(6),
.opBox:nth-child(10),.opBox:nth-child(14),.opBox:nth-child(18){
    color: #3498db;
}

.opBox:nth-child(22){
    background: #2ecc71;
    color: whitesmoke;
}

#operations{
    margin: 0;
    padding: 0;
    padding-right: 5px;
    text-align: center;
    height: 60px;
    font-size: 1.5em;
}

#operations::after{
    content: '|';
    color: #3498db;
    animation: anmtCursor 1s infinite;
}

@keyframes anmtCursor{
    0%,100%{
        opacity: 1;
    }50%{
        opacity: 0;
    }
}

.containerBtn{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin-top: 4%;
    align-content: space-between;
}

#btnP{
    color: rgb(58, 57, 57);
    margin-right: 3%;
    font-size: 1.4em;
    margin: 0;
}

.containerBtn .fa{
    font-size: 2em;
    cursor: pointer;
    padding-left: 3%;
}

.containerBtn .fa::after{
    content: '';
    display: block;
    box-shadow: -1px -1px 35px 6px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px -1px 35px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px -1px 35px 6px rgba(0,0,0,0.75);
}





